.ui.segment.app{
    margin-bottom: -16px;
}
h3.item{
    color: #1d8ab3 !important; 
    padding-right: 50px !important;
}

div#header-menu {
    padding: 5px;
}

.ui.stackable.padded.grid {
    padding: 10%; 
}

p.quote {
    color: #408ab3;
    margin-top: 18%;
}

h4.first {
    margin: 2px 0 0 0;
    font-weight: bold;
}
h4.second{
    margin: 5px 0 0 0;
    font-weight: normal;
    font-size: 14px;
}
p.background1 {
    background-color: #b0cfe6;
    font-size: medium;
    font-style: italic;
}

.ui.header.educ {
    padding: 1% 4%;
    font-size: 32px;
    background: #1d8ab3;
    color: white;
}
.ui.header.elem{
    color: #408ab3;
}
.ui.header.jhs{
    color: #408ab3;
}
.ui.header.shs{
    color: #408ab3;
}

.ui.segment.contact{
    background-image: url(bgrnd.jpg);
    height: 100%;
    margin-top: 0px;
}
.ui.segment.blue {
    padding-bottom: 8%; 
    margin-top: 10%;
}
.ui.header.aligned.center1{
    font-size: 32px; 
    color: #187295;
    text-align: center;
}
.ui.header.aligned.center2{
    text-align: center;
    font-size: 14px; 
    margin: 0 0 6%;
}
